<div class="flex flex-col h-screen">
  <div class="flex items-center justify-start h-16 space-x-4">
    <div routerLink="1" class="flex flex-row items-center space-x-2 cursor-pointer">
      <div
        class="flex items-center justify-center w-10 h-10 text-orange-100 bg-orange-500 rounded-full"
      >
        1
      </div>
      <div class="text-sm font-light">General info</div>
    </div>
    <div routerLink="2" class="flex flex-row items-center space-x-2 cursor-pointer opacity-30">
      <div
        class="flex items-center justify-center w-10 h-10 text-orange-100 bg-orange-500 rounded-full"
      >
        2
      </div>
      <div class="text-sm font-light">Products</div>
    </div>
    <div routerLink="3" class="flex flex-row items-center space-x-2 cursor-pointer opacity-30">
      <div
        class="flex items-center justify-center w-10 h-10 text-orange-100 bg-orange-500 rounded-full"
      >
        3
      </div>
      <div class="text-sm font-light">Summary</div>
    </div>
  </div>

  <div class="grow bg-slate-200">
    <router-outlet></router-outlet>
  </div>
</div>
